<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  This is the contact page for
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  Sample App. If this were an actual contact page you'd find here
  some way to contact us; but it is not so you won't.
</p>
